myservice.wsdl

<definitions name = "HelloService"
    xmlns = "http://schemas.xmlsoap.org/wsdl/"
    targetNamespace = "http://localhost:8080/wsdl/HelloService.wsdl"
    xmlns:soap = "http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:tns = "http://localhost:8080/wsdl/HelloService.wsdl"
    xmlns:xsd = "http://www.w3.org/2001/XMLSchema">

<message name = "SayHelloRequest">
    <part name = "firstName" type = "xsd:string"/>
</message>

<message name = "SayHelloResponse">
    <part name = "greeting" type = "xsd:string"/>
</message>

<message name = "sayMyNameRequest">
    <part name = "nombre" type = "xsd:string"/>
</message>
<message name = "sayMyNameResponse">
    <xsd:element >
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="saludo" type="xsd:string"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</message>

<portType name = "Hello_PortType">
    <operation name = "sayHello">
        <input message = "tns:SayHelloRequest"/>
        <output message = "tns:SayHelloResponse"/>
    </operation>
    <operation name = "sayMyName">
        <input message = "tns:sayMyNameRequest"/>
        <output message = "tns:sayMyNameResponse"/>
    </operation>
</portType>

<binding name = "Hello_Binding" type = "tns:Hello_PortType">
    <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name = "sayHello">
        <soap:operation soapAction = "sayHello"/>
        <input>
            <soap:body
                encodingStyle = "http://schemas.xmlsoap.org/soap/encoding/"
                namespace = "urn:examples:helloservice"
                use = "encoded"/>
        </input>

        <output>
            <soap:body
                encodingStyle = "http://schemas.xmlsoap.org/soap/encoding/"
                namespace = "urn:examples:helloservice"
                use = "encoded"/>
        </output>
    </operation>
    <operation name = "sayMyName">
        <soap:operation soapAction = "sayMyName"/>
        <input> <soap:body use='literal'/> </input>
        <output> <soap:body use='literal'/> </output>
    </operation>
</binding>

<service name="MyServices">
    <documentation>WSDL File for HelloService</documentation>
    <port binding="tns:Hello_Binding" name = "MyPort">
        <soap:address location = "http://localhost:8080/wsdl" />
    </port>
</service>

</definitions>
